

.marginTop3{
    margin-top: 3%;
}
.marginTop5{
    margin-top: 5%;
}

.SL-HLine{
    font-size: 200%;
    font-family: Rajdhani,sans-serif;

}
.SL-LName{
    font-size: 120%;
    font-family: Rajdhani,sans-serif;
    font-weight: bold;

}